body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration-line: none;
    font-style: normal;
    color: #434455;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.header-line {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
    max-width: 1158px;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
/*============ Page navigation ============*/


.logo-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2e2f42;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}

.nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.nav-menu-a {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}
.nav-menu-item {
    color: #2e2f42;
}
.nav-menu-item :hover ,
.nav-menu-item :focus {
    color:#404bbf;
}
/*============ /Page navigation ============*/

/*============ Adress contacts ============*/

.adress-menu {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
}
.adress-info :hover,
.adress-info :focus {
    color: #404bbf;
}
.address-list {
    display: flex;
    gap: 40px;
}

/*============ /Adress contacs ============*/

/*============ Page section hero ============*/

    
.section-hero-line {
    background: #2e2f42;
}
.hero-container {
padding: 188px 0;
}
.title-section-hero {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-weight: 500;
    background: #4d5ae5;
    min-width: 169px;
    height: 56px;
    padding: 18px 32px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.hero-button:hover,
.hero-button:focus {
    background-color:#404bbf;
}
/*============ /Page section hero ============*/

/*============ Page section our benefits ============*/
.title-hiden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}
    
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-item {
    width: calc((100% - 72px) / 4);
}
.title-benefits {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text-benefits {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;

}

/*============ /Page section our benefits ============*/

/*============ Page section our team ============*/
.title-our-team {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.our-team-bg {
    background-color: #F4F4FD;
}
.text-our-team {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
}
.team-box {
    background: #FFFFFF;
}
.team-list-item {
    padding: 32px 0;
}
.team-names {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
    padding-top: 32px;
}
.team-info {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 32px;
}
/*============ /Page section our team ============*/

/*============ Page section our portfolio ============*/
.portfolio-content {
    background-color: #F4F4FD;
}
.portfolio-bg {
    background-color: #FFFFFF;
    width: calc((100% - 2 * 24px) / 3);
}
.title-portfolio {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.name-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 32px;
    margin-left: 16px;
}
.portfolio-info {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 32px;
    margin-left: 16px;
}

/*============ /Page section our portfolio ============*/

/*============ Page section footer ============*/
.footer-bg {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    line-height: 1.5;
}
.logo-text {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-text-ft {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
/*============ /Page section footer ============*/