body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration-line: none;
    font-style: normal;
    color: #434455;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.header-line {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    max-width: 1158px;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
/*============ Page navigation ============*/


.logo-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2e2f42;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}

.nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.nav-menu-a {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.underline {
    position: relative;
    color: #404bbf;
}
.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    display: block;
}
.nav-menu-item {
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-item :hover ,
.nav-menu-item :focus {
    color:#404bbf;
}
/*============ /Page navigation ============*/

/*============ Adress contacts ============*/

.adress-menu {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
}
.mail {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-info :hover,
.adress-info :focus {
    color: #404bbf;
}
.address-list {
    display: flex;
    gap: 40px;
}

/*============ /Adress contacs ============*/

/*============ Page section hero ============*/
.hero-section {
    max-width: 1440px;
    height: 600px;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
}

.title-section-hero {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-weight: 500;
    background: #4d5ae5;
    min-width: 169px;
    height: 56px;
    padding: 18px 32px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color:#404bbf;
}
/*============ /Page section hero ============*/

/*============ Page section our benefits ============*/
.title-hiden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}
    
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-item {
    width: calc((100% - 72px) / 4);
}
.svg-box {
    border: 1px solid #8e8f99;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.title-benefits {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text-benefits {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;

}

/*============ /Page section our benefits ============*/

/*============ Page section our team ============*/
.title-our-team {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.our-team-bg {
    background-color: #F4F4FD;
}
.text-our-team {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-box {
    background: #FFFFFF;
}
.team-list-item {
    padding-bottom: 32px;
}
.info-link {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    gap: 24px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-list-item{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
}
.team-info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
}
.icons-svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}
.team-info-link:hover,
.team-info-link:focus {
    background-color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-names {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
    padding-top: 32px;
}
.team-info {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 8px;
}
/*============ /Page section our team ============*/

/*============ Page section our portfolio ============*/
.portfolio-content {
    background-color: #F4F4FD;
}
.portfolio-bg {
    background-color: #FFFFFF;
    width: calc((100% - 2 * 24px) / 3);

}
.overlay-pf {
    position: relative;
    overflow: hidden;
}
.portfolio-bg:hover,
.portfolio-bg:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08)
    ;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.overlay-pf:hover .overlay {
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
}
.title-portfolio {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.name-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-info {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/*============ /Page section our portfolio ============*/

/*============ Page section footer ============*/
.footer-bg {
    background: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
}
/* .logo-link-ft {}  */
.footer-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    line-height: 1.5;
}
.logo-text {
    display: block;
}
.ft-mrgn {
    margin-bottom: 16px;
}
.logo-text-ft {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.social-link {
    display: block;
    width: 208px;
    height: 80px;
    margin-left: 120px;
}
.footer-title {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    display: block;
    margin-bottom: 16px;
}
.info-link-ft{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
}
.team-info-link-ft{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #fff;
    justify-content: center;
}
.team-info-link-ft:hover,
.team-info-link-ft:focus {
    background-color: #31d0aa;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*============ /Page section footer ============*/